@import "../utils/_variables";
@import "../layouts/_navbar";
@import "../utils/_scroll";

// mixins

@mixin day_schedule {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    overflow: auto;
    // border: 1px solid red;
    min-height: 287px;
    max-height: 400px;
}

@mixin schedule {
    margin: 25px;

    border: 2px solid $color_default;
    border-radius: 15px;
    padding: 25px;

    position: relative;

    width: 500px;
    
    * {
        color: $color_default;
    }

    .head {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        * {
            font-size: 30px;
        }

        div:first-child {
            font-weight: bold;
            i {
                margin: 0 15px;
            }
        }

        div:last-child {
            i {
                margin: 0 15px;
            }
        }
    }

    .body {

        display: flex;
        justify-content: space-between;
        margin-top: 45px;

        .car {

            border: 2px solid $color_default;
            border-radius: 50%;
            // overflow: hidden;

            height: 100px;
            width: 100px;

            position: relative;

            * {
                font-size: 15px;
                font-weight: bold;
            }

            hr {
                border: 2px solid $color_default;
            }

            .vertical {
                position: absolute;
                left: 63%;
                top: 0;
                bottom: 0;
                margin: auto;
                width: 0;
                height: 70%;
            }

            div:first-child {
                display: block;
                position: absolute;
                max-width: 55px;
                height: 55px;
                top: 0;
                bottom: 0;
                left: 9px;
                margin: auto;
                text-align: center;
            }

            div:nth-child(3) {

                display: flex;
                flex-direction: column;
                position: absolute;

                top: 0;
                bottom: 0;
                right: 8px;
                margin: auto;

                width: 20px;
                height: 40px;

                span {
                    display: block;
                    text-align: center;
                }

                hr {
                    border-width: 1px;
                }
            }

            .fare {
                position: absolute;
                left: 0;
                right: 0;
                bottom: -3px;
                margin: auto;
                text-align: center;
                width: 65px;
                i {
                    margin-right: 5px;
                }
            }
        }

        .car:nth-child(3) {
            div:first-child {
                display: block;
                position: absolute;
                max-width: 55px;
                height: 35px;
                top: 0;
                bottom: 0;
                left: 5px;
                margin: auto;
                text-align: center;
            }
        }

        .car:nth-child(4) {
            div:first-child {
                display: block;
                position: absolute;
                max-width: 55px;
                height: 18px;
                top: 0;
                bottom: 0;
                left: 5px;
                margin: auto;
                text-align: center;
            }
        }
    }

    .day_schedule_delete {
        position: absolute;
        border: none;
        top: 0;
        bottom: 0;
        margin: auto;
        border: 2px solid $color_default;
        border-radius: 5px;
        cursor: pointer;
        transition: 200ms;

        left: -23px;
        height: 45px;
        width: 45px;

        i {
            color: red;
            transition: 200ms;
        }

        &:hover {
            height: 50px;
            width: 50px;
            left: -27px;
        }

        &:hover i {
            font-size: 30px;
        }
    }     
}

@mixin schedule_add {
    margin: 25px;
    border: 2px solid $color_default;
    border-radius: 10px;
    padding: 66px 231px;

    cursor: pointer;

    i {
        font-size: 100px;
        color: $color_default;
    }

    &:hover {
        color: rgb(233, 239, 192);
        background-color: $color_default;
    }   

    &:hover i {
        color: rgb(233, 239, 192);
        background-color: $color_default;
    }    
}

h1 {
    font-size: 50px;
    text-align: center;
    margin-top: 7%;
    color: $color_default;
    border-top: 3px solid $color_default;
    border-bottom: 3px solid $color_default;
    padding: 20px;
    width: 620px;
    margin: 7% auto 30px;
}

.schedule_controls {
    display: flex;
    flex-direction: row;
    justify-content: center;

    button {
        color: $color_default;
        border: 2px solid $color_default;
        border-radius: 10px;
        padding: 10px 40px;
        margin: 10px;
        text-align: center;
        cursor: pointer;
    
        &:hover {
            color: rgb(233, 239, 192);
            background-color: $color_default;
        }   
    }

    button.active {
        color: rgb(233, 239, 192);
        background-color: $color_default;
    }
}

.manager_body {
    border: 2px solid $color_default;
    border-radius: 10px;
    padding: 20px;
    position: relative;

    width: 95%;
    overflow: auto;

    margin: 20px auto;

    .day_schedules {
        @include day_schedule;

        .schedule_add {
            @include schedule_add;
        }
    
        .schedule {
            @include schedule;
        }

        .revert {
            position: absolute;
            right: 20px;
            top: 20px;
            margin: auto;
            padding: 15px;
            border: 2px solid $color_default;
            border-radius: 10px;
            cursor: pointer;

            i {
                color: $color_default
            }

            &:hover {
                background-color: $color_default;
            }

            &:hover i {
                color: #E9EFC0;
                background-color: $color_default;
            }
        }
    }

    .week_days {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 20px 0;

        button {
            border: none;
        }

        .stars {
            i {
                color: green;
            }
        }

        .week_day {
            cursor: pointer;
            border-bottom: 2px solid $color_default;
            padding: 5px 40px;
            color: $color_default;
        }

        .active {
            border: 2px solid $color_default;
            border-bottom: none;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
    }
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.445);
    text-align: center;

    i {
        background: transparent;
        margin: 20px auto;
        text-align: center;
        cursor: pointer;
        border: 3px solid black;
        padding: 5px 10px;
        border-radius: 10px;

        &:hover {
            color: rgb(233, 239, 192);
            background-color: black;
        }
    }

    .modal_content {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        margin: auto;
        max-height: 800px;
        height: auto;
        width: 500px;
        border: 2px solid $color_default;
        border-radius: 10px;
        overflow: auto;

        .add_schedule {
            display: flex;
            flex-direction: column;
            padding: 20px;

            h2 {
                margin-top: 20px;
                color: $color_default;
            }    

            .form_control_block {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                margin: 10px;
                
                .form_control {
                    display: flex;
                    flex-direction: column;
                    margin: 10px 0;

                    select {
                        padding: 10px;
                        border: 2px solid $color_default;
                        border-radius: 10px;
                        color: $color_default;

                        option {
                            color: $color_default;
                            font-size: 20px;
                            background-color: #E9EFC0;
                        }
                    }

                    label {
                        margin-left: 5px;
                        margin-bottom: 3px;
                        font-size: 20px;
                        color: $color_default;
                        text-align: left;
                    }
                    
                    input, textarea {
                        border: 2px solid $color_default;
                        border-radius: 10px;
                        padding: 20px;      
                        color: $color_default;
                    }

                    textarea {
                        resize: vertical;
                    }
                }
            }
        
            button[type="submit"], input[type="submit"] {
                border: 2px solid $color_default;
                border-radius: 10px;
                padding: 10px 15px;
                font-size: 20px;
                width: 300px;
                color: $color_default;
                margin: 20px auto;
                cursor: pointer;

                &:hover {
                    color: rgb(233, 239, 192);
                    background-color: $color_default;
                }
            }
        }

        .message_box {
            margin-bottom: 30px;
        }
    }
}
