
@import "_variables";

* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-decoration: none;
    margin: 0;
    padding: 0;
    background-color: $background_color_default;
    color: black;

    &:focus {
        outline: none;
    }

    &:active {
        outline: none;
    }
}

// #b3c6b1