<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Train</title>
</head>
<body>
    <form method="post" action="{% url 'main:add_train' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <select name="from" required>
            {% for station in stations %}
                <option value="{{ station.id }}">{{ station.location }}</option>
            {% endfor %}
        </select>

        <label>&nbsp; To &nbsp;</label>

        <select name="to" required>
            {% for station in stations %}
                <option value="{{ station.id }}">{{ station.location }}</option>
            {% endfor %}
        </select><br><br>

        <label for="dept_date">Departure time</label>
        <input type="datetime-local" id="dept_date" name="dept_date" required><br><br>

        <label for="f_berth">Number of first class berth cars</label><br>
        <input type="number" id="f_berth" name="f_berth" value="0" min="0" required><br><br>

        <label for="f_berth_fare">Fare for first class berth cars: </label>
        <input type="number" id="f_berth_fare" name="f_berth_fare" value="0" min="0" required><br><br>

        <label for="f_seat">Number of first class seat cars</label><br>
        <input type="number" id="f_seat" name="f_seat" value="0" min="0" required><br><br>

        <label for="f_seat_fare">Fare for first class seat cars: </label>
        <input type="number" id="f_seat_fare" name="f_seat_fare" value="0" min="0" required><br><br>

        <label for="s_chair">Number of shovan chair cars</label><br>
        <input type="number" id="s_chair" name="s_chair" value="0" min="0" required><br><br>

        <label for="s_chair_fare">Fare for shovan chair cars: </label>
        <input type="number" id="s_chair_fare" name="s_chair_fare" value="0" min="0" required><br><br>

        <label for="shovan">Number of shovan cars</label><br>
        <input type="number" id="shovan" name="shovan" value="0" min="0" required><br><br>

        <label for="shovan_fare">Fare for shovan cars: </label>
        <input type="number" id="shovan_fare" name="shovan_fare" value="0" min="0" required><br><br>

        <input type="submit" value="Add">
    </form>
</body>
</html>