<form class="add_train" action="{% url 'main:add_train' %}" method="GET">

    <h2>Add new train</h2>

    <div class="form_control_block">
        <div class="form_control">
            <label for="from">From:</label>
            <select id="from" name="from">
                {% for station in stations %}
                    <option value="{{ station.id }}">{{ station.location }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form_control">
            <label for="to">To:</label>
            <select id="to" name="to">
                {% for station in stations %}
                    <option value="{{ station.id }}">{{ station.location }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form_control">
            <label for="dept_date">Departure:</label>
            <input type="datetime-local" id="dept_date" name="dept_date" value="{{ current_datetime }}" required>
        </div>    

        <div class="form_control">
            <label for="f_berth">Number of first class berth cars:</label>
            <input type="number" id="f_berth" name="f_berth" value="2" min="0" required>
        </div>
        <div class="form_control">
            <label for="f_berth_fare">Fare for first class berth cars:</label>
            <input type="number" id="f_berth_fare" name="f_berth_fare" value="1500" min="0" required>
        </div>

        <div class="form_control">
            <label for="f_seat">Number of first class seat cars:</label>
            <input type="number" id="f_seat" name="f_seat" value="3" min="0" required>
        </div>

        <div class="form_control">
            <label for="f_seat_fare">Fare for first class seat cars:</label>
            <input type="number" id="f_seat_fare" name="f_seat_fare" value="1200" min="0" required>
        </div>

        <div class="form_control">
            <label for="s_chair">Number of shovan chair cars:</label>
            <input type="number" id="s_chair" name="s_chair" value="4" min="0" required>
        </div>

        <div class="form_control">
            <label for="s_chair_fare">Fare for shovan chair cars:</label>
            <input type="number" id="s_chair_fare" name="s_chair_fare" value="750" min="0" required>
        </div>

        <div class="form_control">
            <label for="shovan">Number of shovan cars:</label>
            <input type="number" id="shovan" name="shovan" value="4" min="0" required>
        </div>

        <div class="form_control">
            <label for="shovan_fare">Fare for shovan cars:</label>
            <input type="number" id="shovan_fare" name="shovan_fare" value="500" min="0" required>
        </div>        
    </div>
  
    <input class="submit_add_train" type="submit" value="Submit">

    {% comment %} <button class="submit_add_train" type="submit">
        Add
    </button> {% endcomment %}
</form>

<div class="message_box">
    
</div>