<div class="add_station">

    <h2>Add new station</h2>

    <div class="form_control_block">
        <div class="form_control">
            <label for="station_name">Name:</label>
            <input type="text" id="station_name" name="station_name" required>
        </div>

        <div class="form_control">
            <label for="station_location">Location:</label>
            <input type="text" id="station_location" name="station_location" required>
        </div>
        <div class="form_control">
            <label for="station_description">Description:</label>
            <textarea name="station_description" id="station_description" cols="30" rows="3"></textarea>
        </div>        
    </div>

    <button class="submit_add_station" type="submit">
        Add
    </button>
</div>

<div class="message_box">

</div>