<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'fonts/font-awesome-pro-5/css/all.css' %}">
        <link rel="stylesheet" href="{% static 'css/admin_home_page.css' %}">
        <title>Railway Ticketing System</title>
    </head>
    <body>
        {% include "widgets/navbar.html" %}
        
        <h1>ADMIN Controls</h1>

        <div class="modal">
            <i class="far fa-times" id='close'></i>
            <div class="modal_content">

            </div>
        </div>

        <div class="admin_controls">
            <a id='add_train' href="{% url 'main:add_train_page' %}">Add Train</a>
            <a id='add_station' href="{% url 'main:add_station_page' %}">Add Station</a>
            <a id='scheduler' href="{% url 'main:scheduler_page' %}">Scheduler</a>
            <a id='edit_schedule_page' href="{% url 'main:edit_schedule_page' %}">Edit Schedule</a>
        </div>

        <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
        <script src="{% static 'js/admin_home_page.js' %}"></script>
    </body>
</html>