<table>
    <tr>
        <th>source</th>
        <th>destination</th>
        <th>departure time</th>
        <th>Actions</th>
    </tr>
    {% for train in trains %}
        <tr id="dataOf{{ train.id }}">
            <td id="sourceOf{{ train.id }}">{{ train.source.name }}</td>
            <td id="destinationOf{{ train.id }}">{{ train.destination.name }}</td>
            <td><input type="time" value="{{ train.departure.hour }}:{{ train.departure.minute }}" id="timeOf{{ train.id }}"></td>
            <td><button class = "edit_button" id="{{ train.id }}">Update Time</button><button class = "delete_button" id="{{ train.id }}">Delete</button></td>
        </tr>
    {% endfor %}
</table>