<table cellspacing="0">
    <tr>
        <th>source</th>
        <th>destination</th>
        <th>departure time</th>
        <th>Actions</th>
    </tr>
    {% for train in trains %}
        <tr id="dataOf{{ train.0.id }}">
            <td id="sourceOf{{ train.0.id }}">{{ train.0.source.name }}</td>
            <td id="destinationOf{{ train.0.id }}">{{ train.0.destination.name }}</td>
            <td><input type="time" value="{{ train.1 }}" id="timeOf{{ train.0.id }}"></td>
            <td><button class = "edit_button" id="{{ train.0.id }}">Update Time</button><button class = "delete_button" id="{{ train.0.id }}">Delete</button></td>
        </tr>
    {% endfor %}
</table>