<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'fonts/font-awesome-pro-5/css/all.css' %}">
        <link rel="stylesheet" href="{% static 'css/home_page.css' %}">
        <title>Railway Ticketing System</title>
    </head>
    <body>
        {% include "widgets/navbar.html" %}
        
        <h1 class="pick-up">
            Pick a trip
        </h1>
        
        <div class="destination">
            <div>
                <label for="depart_from">Depart from:</label>
                <select name="depart_from" id="depart_from">
                    <option value="0">Select</option>
                    <option value="1">Dhaka</option>
                    <option value="2">Chattagong</option>
                    <option value="3">Rajshahi</option>
                    <option value="4">Khulna</option>
                    <option value="5">Barisal</option>
                    <option value="6">Sylhet</option>
                    <option value="7">Rangpur</option>
                </select>
            </div>
            <div>
                <label for="destination">Destination:</label>
                <select name="destination" id="destination">
                    <option value="0">Select</option>
                    <option value="1">Dhaka</option>
                    <option value="2">Chattagong</option>
                    <option value="3">Rajshahi</option>
                    <option value="4">Khulna</option>
                    <option value="5">Barisal</option>
                    <option value="6">Sylhet</option>
                    <option value="7">Rangpur</option>
                </select>
            </div>
        </div>

        <h2>Current Week</h2>

        <div class="date_picker">
            <button name="prev_week">
                <i class="far fa-arrow-left"></i>
            </button>

            <div class="date_part">
                <div class="day_date">
                    <label for="day_1">
                        <div class="day">Fri</div>
                        <div class="date">20</div>
                    </label>
                    <input id="day_1" type="radio" name="date">
                </div>
                <div class="day_date">
                    <label class="active" for="day_2">
                        <div class="day">Sat</div>
                        <div class="date">21</div>
                    </label>
                    <input id="day_2" type="radio" name="date">
                </div>
                <div class="day_date">
                    <label for="day_3">
                        <div class="day">Sun</div>
                        <div class="date">22</div>
                    </label>
                    <input id="day_3" type="radio" name="date">
                </div>
                <div class="day_date">
                    <label for="day_4">
                        <div class="day">Mon</div>
                        <div class="date">23</div>
                    </label>
                    <input id="day_4" type="radio" name="date">
                </div>
                <div class="day_date">
                    <label for="day_5">
                        <div class="day">Tue</div>
                        <div class="date">24</div>
                    </label>
                    <input id="day_5" type="radio" name="date">
                </div>
                <div class="day_date">
                    <label for="day_6">
                        <div class="day">Wed</div>
                        <div class="date">25</div>
                    </label>
                    <input id="day_6" type="radio" name="date">
                </div>
                <div class="day_date">
                    <label for="day_7">
                        <div class="day">Thu</div>
                        <div class="date">26</div>
                    </label>
                    <input id="day_7" type="radio" name="date">
                </div>
            </div>

            <button name="prev_week">
                <i class="far fa-arrow-right"></i>
            </button>
        </div>

        <div class="train_list">
            <table border="0" cellspacing="0" cellpadding="0">
                <thead>
                    <tr>
                        <th>From <i class="far fa-long-arrow-right"></i> To</th>
                        <th>Time</th>
                        <th>Fare range</th>
                        <th>Seat Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <span>Dhaka</span>
                            <i class="far fa-long-arrow-right"></i>
                            <span>Dhaka</span>
                        </td>
                        <td>03:00 PM</td>
                        <td><span class="fare_from">350</span> BDT - <span class="fare_from">1050</span> BDT</td>
                        <td>
                            <div class="seat_status status_25">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>Dhaka</span>
                            <i class="far fa-long-arrow-right"></i>
                            <span>Dhaka</span>
                        </td>
                        <td>03:00 PM</td>
                        <td><span class="fare_from">350</span> BDT - <span class="fare_from">1050</span> BDT</td>
                        <td>
                            <div class="seat_status status_50">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>Dhaka</span>
                            <i class="far fa-long-arrow-right"></i>
                            <span>Dhaka</span>
                        </td>
                        <td>03:00 PM</td>
                        <td><span class="fare_from">350</span> BDT - <span class="fare_from">1050</span> BDT</td>
                        <td>
                            <div class="seat_status status_75">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>Dhaka</span>
                            <i class="far fa-long-arrow-right"></i>
                            <span>Dhaka</span>
                        </td>
                        <td>03:00 PM</td>
                        <td><span class="fare_from">350</span> BDT - <span class="fare_from">1050</span> BDT</td>
                        <td>
                            <div class="seat_status status_100">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>Dhaka</span>
                            <i class="far fa-long-arrow-right"></i>
                            <span>Dhaka</span>
                        </td>
                        <td>03:00 PM</td>
                        <td><span class="fare_from">350</span> BDT - <span class="fare_from">1050</span> BDT</td>
                        <td>
                            <div class="seat_status status_75">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>Dhaka</span>
                            <i class="far fa-long-arrow-right"></i>
                            <span>Dhaka</span>
                        </td>
                        <td>03:00 PM</td>
                        <td><span class="fare_from">350</span> BDT - <span class="fare_from">1050</span> BDT</td>
                        <td>
                            <div class="seat_status status_75">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>            
        </div>

        <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
        <script src="{% static 'js/home_page.js' %}"></script>
    </body>
</html>