<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'fonts/font-awesome-pro-5/css/all.css' %}">
        <link rel="stylesheet" href="{% static 'css/home_page.css' %}">
        <title>Railway Ticketing System</title>
    </head>
    <body>
        {% include "widgets/navbar.html" %}
        
        <h1 class="pick-up">
            Pick a trip
        </h1>
        
        <div class="destination">
            <div>
                <label for="depart_from">Depart from:</label>
                <select name="depart_from" id="depart_from">
                    <option value="0">Select</option>
                    {% for station in stations %}
                        <option value="{{ station }}">{{ station }}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <label for="destination">Destination:</label>
                <select name="destination" id="destination">
                    <option value="0">Select</option>
                    {% for station in stations %}
                        <option value="{{ station }}">{{ station }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <h2 id="week_info">Current Week</h2>

        <div class="date_picker">
            <button id="prev_week">
                <i class="far fa-arrow-left"></i>
            </button>

            <div class="date_part">

                {% for day in week_0 %}
                    <div class="day_date week_0">
                        {% if day.date == today %}
                            <label class="active" for="day_{{ day.date }}">
                        {% elif day.backdate %}
                            <label class="disabled" for="day_{{ day.date }}">
                        {% else%}
                            <label for="day_{{ day.date }}">
                        {% endif %}
                            <div class="day">{{ day.day }}</div>
                            <div class="date">{{ day.date }}</div>
                        </label>

                        {% if day.date == today %}
                            <input id="day_{{ day.date }}" type="radio" name="date" value="{{ day.full_date }}" selected>
                        {% elif day.backdate %}
                            <input id="day_{{ day.date }}" type="radio" name="date" value="{{ day.full_date }}" disabled>
                        {% else%}
                            <input id="day_{{ day.date }}" type="radio" name="date" value="{{ day.full_date }}">
                        {% endif %}
                    </div>                
                {% endfor %}

                {% for day in week_1 %}
                    <div class="day_date week_1 week_hidden">
                        {% if day.date == today %}
                            <label class="active" for="day_{{ day.date }}">
                        {% elif day.backdate %}
                            <label class="disabled" for="day_{{ day.date }}">
                        {% else%}
                            <label for="day_{{ day.date }}">
                        {% endif %}
                            <div class="day">{{ day.day }}</div>
                            <div class="date">{{ day.date }}</div>
                        </label>

                        {% if day.date == today %}
                            <input id="day_{{ day.date }}" type="radio" name="date" value="{{ day.full_date }}" selected>
                        {% elif day.backdate %}
                            <input id="day_{{ day.date }}" type="radio" name="date" value="{{ day.full_date }}" disabled>
                        {% else%}
                            <input id="day_{{ day.date }}" type="radio" name="date" value="{{ day.full_date }}">
                        {% endif %}
                    </div>                
                {% endfor %}

                {% for day in week_2 %}
                    <div class="day_date week_2 week_hidden">
                        {% if day.date == today %}
                            <label class="active" for="day_{{ day.date }}">
                        {% elif day.backdate %}
                            <label class="disabled" for="day_{{ day.date }}">
                        {% else%}
                            <label for="day_{{ day.date }}">
                        {% endif %}
                            <div class="day">{{ day.day }}</div>
                            <div class="date">{{ day.date }}</div>
                        </label>

                        {% if day.date == today %}
                            <input id="day_{{ day.date }}" type="radio" name="date" value="{{ day.full_date }}" selected>
                        {% elif day.backdate %}
                            <input id="day_{{ day.date }}" type="radio" name="date" value="{{ day.full_date }}" disabled>
                        {% else%}
                            <input id="day_{{ day.date }}" type="radio" name="date" value="{{ day.full_date }}">
                        {% endif %}
                    </div>                
                {% endfor %}
            </div>

            <button id="next_week">
                <i class="far fa-arrow-right"></i>
            </button>
        </div>

        <div class="train_list">
            <table border="0" cellspacing="0" cellpadding="0">
                <thead>
                    <tr>
                        <th>From <i class="far fa-long-arrow-right"></i> To</th>
                        <th>Time</th>
                        <th>Fare range</th>
                        <th>Seat Status</th>
                        {% if session.user.login_status %}
                            <th>View seats</th>
                        {% endif %}
                    </tr>
                </thead>
            </table>            
        </div>

        <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
        <script src="{% static 'js/home_page.js' %}"></script>
    </body>
</html>