{% for schedule in schedules %}
    <div class="schedule" id="day_schedule_{{ schedule.id }}">

        {% if week %}
            <button class="day_schedule_delete" delete="{{ schedule.id }}" href="{% url 'main:delete_week_day_schedule' schedule_id=schedule_id day_id=schedule.id %}">
        {% else %}
            <button class="day_schedule_delete" delete="{{ schedule.id }}" href="{% url 'main:delete_day_schedule' id=schedule.id %}">
        {% endif %}
            <i class="fad fa-trash"></i>
        </button>

        <div class="head">
            <div>{{ schedule.source }}<i class="far fa-long-arrow-right"></i>{{ schedule.destination }}</div>
            <div><i class="far fa-clock"></i><span>{{ schedule.time }}</span></div>
        </div>

        <div class="body">

            {% for car in schedule.cars %}
                <div class="car">
                    <div>
                        {{ car.type }}
                    </div>
                    <hr class="vertical">
                    <div>
                        <span>{{ car.number_of_cars }}</span>
                        <hr>
                        <span>{{ car.seats_per_car }}</span>
                    </div>
                    <div class="fare">
                        <i class="fad fa-coins"></i><span>{{ car.fare }}</span>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div> 
{% endfor %}

{% if add_button_required %}
    {% if week %}
        <button class="schedule_add" id="schedule_add_day" href="{% url 'main:add_week_day_schedule_form' index=schedule_id %}">
    {% else %}
        <button class="schedule_add" id="schedule_add_day" href="{% url 'main:add_schedule_form' %}">
    {% endif %}
        <i class="fas fa-plus"></i>
    </button>
{% endif %}


 