<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'fonts/font-awesome-pro-5/css/all.css' %}">
        <link rel="stylesheet" href="{% static 'css/scheduler_page.css' %}">
        <title>Railway Ticketing System</title>
    </head>
    <body>
        {% include "widgets/navbar.html" %}
        
        <h1>Manage Scheduling for {{ railway_name }}</h1>

        <div class="schedule_controls">
            <button id="day_schedule">
                Default Day Schedule
            </button>    
            <button class="active" id="week_schedule">
                Default Week Schedule
            </button>        
            <button id="specific_schedule">
                Specific Schedule
            </button>
        </div>

        <div class="manager_body">
            {% comment %} <div class="schedule">
                <div class="head">
                    <div>Dhaka<i class="far fa-long-arrow-right"></i>Khulna</div>
                    <div><i class="far fa-clock"></i><span>03:30 PM</span></div>
                </div>
                <div class="body">
                    <div class="car">
                        <div>
                            First Class Birth
                        </div>
                        <hr class="vertical">
                        <div>
                            <span>2</span>
                            <hr>
                            <span>20</span>
                        </div>
                        <div class="fare">
                            <i class="fad fa-coins"></i><span>1500</span>
                        </div>
                    </div>
                    <div class="car">
                        <div>
                            First Class Seat
                        </div>
                        <hr class="vertical">
                        <div>
                            <span>2</span>
                            <hr>
                            <span>20</span>
                        </div>
                        <div class="fare">
                            <i class="fad fa-coins"></i><span>1500</span>
                        </div>
                    </div>
                    <div class="car">
                        <div>
                            Shovan Chair
                        </div>
                        <hr class="vertical">
                        <div>
                            <span>2</span>
                            <hr>
                            <span>20</span>
                        </div>
                        <div class="fare">
                            <i class="fad fa-coins"></i><span>1500</span>
                        </div>
                    </div>
                    <div class="car">
                        <div>
                            Shovan
                        </div>
                        <hr class="vertical">
                        <div>
                            <span>2</span>
                            <hr>
                            <span>20</span>
                        </div>
                        <div class="fare">
                            <i class="fad fa-coins"></i><span>1500</span>
                        </div>
                    </div>

                </div>
            </div>   {% endcomment %}
            
            <button disabled hidden class="schedule_add" id="schedule_add_day">
                <i class="fas fa-plus"></i>
            </button>
        </div>

        <div class="modal">
            <i class="far fa-times" id='close'></i>
            <div class="modal_content">
                
            </div>
        </div>

        <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
        <script src="{% static 'js/scheduler_page.js' %}"></script>
    </body>
</html>