<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/seat_selection_page.css' %}">
        <title>Railway Ticketing System</title>
    </head>
    <body>
        {% include "widgets/navbar.html" %}
        
        <h1>Select your seats</h1>
        
        <div class="seat_criterias">
            <div>
                <label for="car_type">Car type: </label>
                <select name="car_type" id="car_type">
                    <option value="-1" selected>Select</option>
                    {% for car in cars %}
                        <option value="{% url 'main:get_seats' train_id=train_id car_type_id=car.id number_of_seats='-' %}">{{ car.name }} - Fare: {{ car.fare }}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <label for="number_of_seats">Number of seats:</label>
                <input id="number_of_seats" type="range" min="1" max="5" name="number_of_seats" value="1">
                <span class="number_of_seats">1</span>
            </div>
            <div class="seats">
                <span>Your seats:</span>
                <span id="seats"></span>
            </div>
            <div class="controls">
                <button class="check">Get Seats</button>
                <button class="purchase">Purchase</button>
            </div>  
        </div>

        <div class="bill_info">
            <span>Total bill: </span>
            <span class="bill"></span>
            <button id="pay" href="#">Pay</button>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js" integrity="sha512-qZvrmS2ekKPF2mSznTQsxqPgnpkI4DNTlrdUmTzrDgektczlKNRRhy5X5AAOnx5S09ydFYWWNSfcEqDTTHgtNA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
        <script src="{% static 'js/seat_selection_page.js' %}"></script>
    </body>
</html>